* {
    margin: 0;
    padding: 0;
  }
  
  body {
   
    background-color:black;
    line-height: 1.6;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color:rgb(69,30,93);
    justify-content: center;
    overflow: hidden;
  }

  a{
    color:rgb(69,30,93);
    text-decoration: none;
    letter-spacing: 8px;
}

   a:hover{
    color: #ed7ab0;
    transition-duration: 0.6s;
    font-size: 40px;
    font-weight: bold;
}



